*{
	margin: auto;
}
.box{
	margin-top: 10%; 
	border-style: groove;
	border-radius: 2%;
	width: 40%;
	padding: 2%;
	text-align: center;
	background-color: #4682B4;
}
.box h1{
	color: #CDFFDC ;
}
.logo{
	width: 15%;
}
.logo img{
	width: 100%;
}
.box ul{
	font-size: 20px;
	padding: 2%;
	color: white;
}
.box ul:hover{
	cursor: pointer;
}
.botao1{
	float: center;
	text-align: center;
	border-style: solid;
	border-color: green;
	background-color: green;
	border-radius: 8%;
	color: white;
	width: 25%;
	margin-top: 5%;
}
.background{
    background-image: url('plano_de_fundo.jpg');
    background-size: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
