*{
	margin: 0px;
}

.background{
	background-image: url('plano_de_fundo.jpg');
    background-size: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
	top: 0;
}	

.topo{
	background-color: #0096ff;
	height: 31px;
}

.subtopo{
	height: 30px;
	width: 800px;
	margin: auto;
}

.info{
	float: right;
	width: 380px
}

.info h2{
	float: right;
}

.menu{

	margin-top: 80px; 
	border-style: groove;
	border-radius: 2%;
	width: 50%;
	padding: 2%;
	text-align: center;
	margin-left: 38%;
	height: 250px;
	width: 250px;
	background-color: #cccccc;
}

.menu li:hover{
	background-color: #999999;
}

.menu li{
	margin-top: 20px;
	cursor: pointer;
	text-align:center;
	list-style: none;
	background-color: #FFD700;
	border-radius: 5px;
	width: 200px;
	height: 30px; 
}

.menu h1{
	text-align: center;
	color: #4c4c4c;

}

